body {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	padding-top: 50px;
	background-color: black;
}
.book {
	box-shadow: 4px 4px 5px white, -4px 4px 5px white, 4px -4px 5px white, -4px -4px 5px white;
	background-color: white;
	padding: 10px;
	width: 350px;
	height: auto;
	font-size: 22px;
	
}
#update {
	box-shadow: 4px 4px 5px orange, -4px 4px 5px orange, 4px -4px 5px orange, -4px -4px 5px orange;
	border-radius: 10px;
	border: none;
	background-color: orange;
	width: 200px;
	height: 50px;
	color: darkgreen;
	font-size: 20px;
	text-align: center;
	cursor: pointer;
}